/pipedemo/processa/build
/pipedemo/processb/build
/sharememorydemo/processa/build
/sharememorydemo/processb/build
/pipewithsizedemo/processa/build
/pipewithsizedemo/processb/build
/createprocessdemo/build
